.page {
  max-width: 42rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}
.page a {
  color: var(--Text-1);
  text-decoration: underline;
  text-decoration-color: var(--Style);
}
.page-title {
  font-size: 2.5rem;
}
.page-date {
  font-size: 0.8rem;
  color: var(--Text-2);
}
.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.page-btn a {
  color: var(--Text-2);
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: 0;
  transition: 0.6s ease;
  line-height: 4rem;
  /* 设置缩略 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.page-btn a:hover {
  background-color: var(--Text-4);
  color: var(--Text-1);
}
.page-prev {
  padding: 0 1rem 0 3rem;
}
.page-next {
  padding: 0 3rem 0 1rem;
}
.page-prev::before, .page-next::after {
  position: absolute;
  left: 0.5rem;
  font-family: "uuicon";
  content: "";
  color: var(--Text-3);
  font-size: 2rem;
  line-height: 4rem;
}
.page-next::after {
  left: auto;
  right: 0.5rem;
  content: "";
}
