.page {
  max-width: 45rem;
  margin: 0 auto;
  padding: 5rem 1.75rem 10rem;
}
.page h1, .page h2, .page h3 {
  margin-top: 2rem;
}
.page p {
  line-height: 1.8;
}
.page a {
  text-decoration: underline;
  text-decoration-color: var(--Text-2);
}
.page-date {
  color: var(--Text-2);
}
.page-share {
  font-family: "uuicon";
  font-size: 1.5rem;
  text-decoration: none!important;
  color: var(--Text-2)!important;
}

ul,
ol,
blockquote,
pre,
table {
  line-height: 1.5;
  margin-top: 1rem;
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--Text-3);
  border: none;
  margin: 1.5rem 0;
}
blockquote {
  box-shadow: inset 4px 0 0 0 var(--Text-3);
}
img,
video {
  width: 100%;
  display: block;
}
video {
  box-shadow: 0 0 0 1px var(--Text-2);
  background-color: var(--Text-2);
  cursor: pointer;
}
ul,
ol,
blockquote {
  padding-left: 1rem;
}
ul p,
ul ul,
ul ol,
ol p,
ol ol,
ol ul {
  margin: 0;
}
table {
  box-shadow: inset 1px 1px 0 0 var(--Text-2);
  padding: 1px 0 0 1px;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}
table th {
  background-color: var(--BG-S);
  font-weight: 400;
}
table th,
table td {
  table-layout: fixed;
  padding: 0.5rem;
  max-width: 18rem;
  word-wrap: break-word;
  box-shadow: inset -1px -1px 0 0 var(--Text-2);
}
@media screen and (max-width: 48rem) {
  ul,
  ol,
  pre,
  blockquote,
  table {
    margin-top: 0.8rem;
  }
}


/* code */
code[class*="language-"],
pre[class*="language-"] {
  font-family: "jet", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  /* tab间距 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  /* 连词 */
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  /* 滚动惯性去除 */
  -webkit-overflow-scrolling: auto;
}
pre[class*="language-"] {
  background-color: var(--BG-S);
  overflow-x: scroll;
  -webkit-overflow-scrolling: auto;
}
code[class*="language-"] {
  padding: 1rem;
  margin: 0;
  display: inline-block;
  white-space: pre;
  mix-blend-mode: darken;
}
:not(pre) > code[class*="language-"] {
  white-space: pre-wrap;
  color: slategray;
  padding: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: var(--BG-S);
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--Style);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--Style);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: var(--Text-2);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #6e74e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #15ad31;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: rgba(250, 140, 21, 0.56);
  background-color: rgba(128, 128, 128, 0.1);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #1b9aee;
}

.token.function,
.token.class-name {
  color: #e62412;
}

.token.regex,
.token.important,
.token.variable {
  color: #fa8c15;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
@media (prefers-color-scheme: dark) {
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #979cff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #64d16d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: rgba(255, 169, 65, 0.56);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #43b4ff;
}

.token.function,
.token.class-name {
  color: #ff6a6a;
}

.token.regex,
.token.important,
.token.variable {
  color: #ffa941;
}
  code[class*="language-"] {
    mix-blend-mode: lighten;
  }
}