.view {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  background-color: aliceblue;
  grid-template-columns: 260px auto;
  grid-template-rows: 1fr auto;
}
nav {
  background: linear-gradient(180deg, #ffcccc 0%, #fbffd2 100%);
  width: 260px;
  position: relative;
  height: 100%;
}
.page-con {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: beige;
  padding-top: 64px;
}
.page-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 260px);
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(26,26,26,0.08);
  height: 64px;
}
.page-xxx {
  background: linear-gradient(180deg, #B6FFC6 0%, #8FB5FF 100%);
  width: 100%;
  flex-grow: 1;
  padding: 64px;
}
.ccc {
  position: absolute;
  right: -15px;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 100;
  background-color: cadetblue;
  border-radius: 15px;
  top: 15px;
}
