.banner-section {
  position: relative;
}
.banner {
  display: flex;
  min-height: calc(100vh - 128px + 24px - 160px);
  align-items: center;
}
.banner-link {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  position: relative;
}
.text-cursor {
  color: var(--Style);
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.banner-link::before {
  position: absolute;
  bottom: 4px;
  left: 0px;
  right: 0px;
  height: 8px;
  content: "";
  z-index: -2;
  background-color: var(--Text-3);
}
.banner-link::after {
  position: absolute;
  bottom: 4px;
  left: 0px;
  right: 0px;
  height: 8px;
  content: "";
  z-index: -1;
  background-color: var(--Style);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.2s ease;
}
.banner-link:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}
.bannersvg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.bannersvg svg {
  display: block;
  fill: var(--Text-3);
}
.banner-1 {
  transform: translateZ(-2rem);
}
.banner-2 {
  transform: translateZ(0rem);
}
.banner-3 {
  transform: translateZ(2rem);
}
.bannersvg:hover .banner-1 {
  transform: translateZ(-7rem);
  filter: blur(0.25rem);
}
.bannersvg:hover .banner-2 {
  transform: translateZ(0rem);
  filter: blur(0.125rem);
}
.bannersvg:hover .banner-3 {
  transform: translateZ(7rem);
}

.banner-2, .banner-3 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 2s ease-out;
}

@media screen and (max-width: 48rem) {
  .bannersvg {
    width: 100%;
    z-index: -2;
  }
  .banner-1 {
    transform: translateZ(-6rem)!important;
    filter: blur(0.25rem);
  }
  .banner-2 {
    transform: translateZ(0rem)!important;
    filter: blur(0.125rem);
  }
  .banner-3 {
    transform: translateZ(6rem)!important;
  }
  .bannersvg .Tilt {
    transform: perspective(800px) translate3d(0px, 0px, 0px)!important;
  }
}
