.home-02 {
  --banner-time: 24s;
  /* 总时长变量最好是4的倍数 */
}
.home-02 a:nth-child(1) {
  animation: banner var(--banner-time) ease calc(var(--banner-time) / 4 * 0) infinite backwards;
}
.home-02 a:nth-child(2) {
  animation: banner var(--banner-time) ease calc(var(--banner-time) / 4 * 1) infinite backwards;
}
.home-02 a:nth-child(3) {
  animation: banner var(--banner-time) ease calc(var(--banner-time) / 4 * 2) infinite backwards;
}
.home-02 a:nth-child(4) {
  animation: banner var(--banner-time) ease calc(var(--banner-time) / 4 * 3) infinite backwards;
}
@keyframes banner {
  0% {
    visibility: hidden;
    z-index: 20;
  }
  0.01% {
    visibility: visible;
    z-index: 20;
  }
  24.99% {
    visibility: visible;
    z-index: 20;
  }
  25% {
    visibility: hidden;
    z-index: 20;
  }
  100% {
    visibility: hidden;
    z-index: -10;
  }
}
.banner-space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  z-index: 10;
  user-select: none;
}
.Tilt {
  z-index: 2;
  margin: 1rem 20%;
}
.Tilt-inner {
  display: block;
  box-shadow: 0 0 0 1px var(--BG-P);
  transition: filter 0.3s ease;
}
.Tilt:hover .Tilt-inner{
  filter: brightness(1.1);
}

.banner-ring {
  position: absolute;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.banner-ring p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0.25rem;
  line-height: 2rem;
  color: transparent;
  transition: color 0.3s ease;
  font-weight: 500;
}
.home-02:hover .banner-ring p {
  color: var(--Text-1);
}
.banner-ring svg {
  transform: rotate(-90deg);
  flex: 1 0 auto;
}
.rotating {
  animation: rotating calc(var(--banner-time) / 4) linear both infinite;
}
@keyframes rotating {
  from {
    stroke-dashoffset: 76px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}
@media screen and (max-width: 48rem) {
  .Tilt {
    margin: 1rem 22.5%;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .banner-ring p {
    color: var(--Text-1);
  }
}