header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  user-select: none;
  height: 4.5rem;
  transition: height 0s ease 0.66s;
}
.header-content {
  z-index: 20;
  height: 4.5rem;
  position: relative;
}
.header-logo {
  position: absolute;
  left: 1.5rem;
  top: 1.25rem;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0;
}
.logo-type {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  transform: translateY(-0.2rem);
}
.logo-type span {
  color: var(--Text-2);
}
.logo-type::after {
  content: ".design";
  color: transparent;
  transition: 0.3s ease;
}
.logo-type:hover::after {
  color: var(--Text-2);
}
/* 汉堡动画菜单 */
.menu-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-btn li,
.menu-btn li::after,
.menu-btn li::before {
  list-style-type: none;
  width: 1.5rem;
  height: 0.125rem;
  content: "";
  background-color: var(--Text-1);
  transition: top 0.2s ease-out 0.66s, transform 0.66s cubic-bezier(0.66, 0, 0.01, 1),
    background-color 0.3s ease-out;
}
.menu-btn li {
  position: relative;
  background-color: transparent;
}
.menu-btn li::before {
  position: absolute;
  top: -5px;
  transform: rotate(0deg) translate3d(0, 0, 0);
}
.menu-btn li::after {
  position: absolute;
  top: 5px;
  transform: rotate(0deg) translate3d(0, 0, 0);
}
/* 展开 */
.header-active {
  height: 100%;
  transition: height 0s ease 0s;
}
.header-active .menu-btn li::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.2s ease-out, transform 0.66s cubic-bezier(0.66, 0, 0.01, 1) 0.2s,
    background-color 0.15s ease-out;
}
.header-active .menu-btn li::after {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.2s ease-out, transform 0.66s cubic-bezier(0.66, 0, 0.01, 1) 0.2s,
    background-color 0.15s ease-out;
}
/* 玻璃菜单内 */
.header-bg {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  user-select: none;
  backdrop-filter: var(--Glass);
  background-color: var(--Glass-BG-P);
  transform: translateX(100%);
  transition: transform 0.66s cubic-bezier(0.66, 0, 0.01, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9rem 4.5rem 4.5rem;
  transform-origin: 0% 0%;
}
.header-active .header-bg {
  transform: translateX(0);
}
/* 侧栏菜单内容 */
.header-bg :not(.menu-link) a {
  display: block;
}
/* 菜单选项 */
.menu-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex: 0 0 auto;
}
.menu-footer {
  width: 100%;
  flex: 0 0 auto;
}
.menu-footer p {
  color: var(--Text-3);
}
.nav-title {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.nav-title h1 {
  color: transparent;
  display: block;
  -webkit-text-stroke: 1px var(--Text-1);
  /* text-indent: -1px; */
  line-height: 1;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 3000;
}
/* Wo伪字偶距 */
[aria-label="Works"] span:first-child {
  margin-right: -6px;
}
.nav-title [aria-label]:first-child {
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav-title [aria-label]:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav-title:hover [aria-label]:first-child {
  opacity: 0;
}
.nav-title:hover [aria-label]:nth-child(2) {
  opacity: 1;
}
.nav-title :first-child [aria-hidden="true"] {
  transform-origin: center center 1.25rem;
  display: inline-block;
  transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: rotate3d(0, 0, 0, 0);
}
.nav-title :nth-child(2) [aria-hidden="true"] {
  transform-origin: center center 1.25rem;
  display: inline-block;
  transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: rotate3d(1, -0.5, 0, 90deg);
}
.nav-title:hover :first-child [aria-hidden="true"] {
  transform: rotate3d(1, 0.3, 0, -90deg);
}
.nav-title:hover :nth-child(2) [aria-hidden="true"] {
  transform: rotate3d(0, 0, 0, 0);
  box-shadow: inset 0 -0.25rem 0 0 var(--Text-1);
}
[aria-label] [aria-hidden="true"]:first-child {
  transition-delay: 0.02s;
}
[aria-label] [aria-hidden="true"]:nth-child(2) {
  transition-delay: 0.04s;
}
[aria-label] [aria-hidden="true"]:nth-child(3) {
  transition-delay: 0.06s;
}
[aria-label] [aria-hidden="true"]:nth-child(4) {
  transition-delay: 0.08s;
}
[aria-label] [aria-hidden="true"]:nth-child(5) {
  transition-delay: 0.12s;
}
[aria-label] [aria-hidden="true"]:nth-child(6) {
  transition-delay: 0.14s;
}
[aria-label] [aria-hidden="true"]:nth-child(7) {
  transition-delay: 0.16s;
}
[aria-label] [aria-hidden="true"]:nth-child(8) {
  transition-delay: 0.18s;
}
[aria-label] [aria-hidden="true"]:nth-child(9) {
  transition-delay: 0.2s;
}
[aria-label] [aria-hidden="true"]:nth-child(10) {
  transition-delay: 0.22s;
}
/* 菜单选中效果 */
header [aria-current="page"] h1 {
  color: var(--Text-1);
}

/* 移动适配 */
@media screen and (max-width: 48rem) {
  .header-bg {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    padding: 6rem 3rem 3rem;
  }
  /* Wo伪字偶距 */
  [aria-label="Works"] span:first-child {
    margin-right: -4px;
  }
}