/* 字体调用 */
@font-face {
  font-family: "Spoof";
  src: url("../fonts/Spoof-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "gilroy";
  src: url("../fonts/Gilroy-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "gilroy";
  src: url("../fonts/Gilroy-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "jet";
  src: url("../fonts/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "uuicon";
  src: url("../fonts/uuicon.ttf");
}

/* 全局属性 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --BG-P: rgb(250, 248, 246);
  --BG-S: rgb(242, 240, 238);
  --Text-1: rgb(26, 26, 26);
  --Text-2: rgba(26, 26, 26, 0.6);
  --Text-3: rgba(26, 26, 26, 0.2);
  --Glass: saturate(200%) blur(1.5rem);
  --Glass-bg: #fff;
  --Shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  --Style: #5364ff;
  scroll-behavior: smooth;
}
@supports (backdrop-filter: none) {
  html {
    --Glass-bg: rgba(255, 255, 255, 0.88);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --BG-P: rgb(24, 26, 28);
    --BG-S: rgb(33, 35, 37);
    --Text-1: rgb(255, 255, 255);
    --Text-2: rgba(255, 255, 255, 0.6);
    --Text-3: rgba(255, 255, 255, 0.2);
    --Glass-bg: rgb(42, 44, 46);
  }
  @supports (backdrop-filter: none) {
    html {
      --Glass-bg: rgba(42, 44, 46, 0.88);
    }
  }
}
::selection {
  background-color: var(--Style);
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: "gilroy", "PingFang", sans-serif;
  background-color: var(--BG-P);
  color: var(--Text-1);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  animation: fadein 1s ease 1s backwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 基础类型 */
.big-type {
  font-family: "Spoof";
  font-size: 5.8vw;
  line-height: 1;
}
.type-p {
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1.5;
  margin-top: 1rem;
}
h1 {
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
p,
a {
  line-height: 1.5;
  margin-top: 1rem;
}
p,
a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
a {
  cursor: pointer;
  color: var(--Text-1);
  transition: color 0.3s ease;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  color: var(--Text-2);
}
/* 基础类型移动版 */
@media screen and (max-width: 48rem) {
  h1,
  h2,
  h3,
  h4,
  p,
  a {
    margin-top: 0.8rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

/* 美洽 */
#meiqia-container iframe {
  transform: translateZ(2000px);
}
