.notice {
  position: fixed;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  width: 100%;
  background-color: var(--Glass-bg);
  backdrop-filter: var(--Glass);
  z-index: 10000000;
  transform: translateZ(5000px);
  bottom: -1.5rem;
  box-shadow: 0 -1px 0 var(--Text-3);
  animation: notice-in 0.3s ease 4s backwards;
}
@keyframes notice-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.notice h3 {
  margin: 0;
}
.notice i {
  font-style: normal;
  font-family: "uuicon";
}
.notice-active {
  display: none;
}
.notice-exit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  user-select: none;
  color: var(--Text-2);
  transition: 0.3s ease;
}
.notice-exit:hover {
  color: var(--Text-1);
}
