.page-footer {
  position: relative;
  width: 100%;
  padding: 4rem 5rem 8rem;
  background-color: var(--BG-S);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3.5rem;
}
.page-footer a {
  margin: 0 0 1rem 0;
}
.pagefooter-logo {
  grid-column-start: span 3;
  display: block;
}
.pagefooter-nav a {
  width: 100%;
  display: block;
}
.pagefooter-text {
  position: absolute;
  left: 1.75rem;
  bottom: 1.75rem;
  line-height: 1.5rem;
  display: block;
  color: var(--Text-2);
}
.pagefooter-text a {
  color: var(--Text-2);
}
@media screen and (max-width: 48rem) {
  .page-footer {
    padding: 4rem 1.75rem 8rem;
  }
  .pagefooter-logo {
    grid-column-start: span 6;
  }
  .pagefooter-nav {
    grid-column-start: span 3;
  }
}